// SERVICES SECTION

.services {
    background: rgb(240, 240, 240);
}

.serviceSections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    

    .serviceInfo {
        // text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .icon {
            // color: white;
            // background: $primaryColor;
            color: $primaryColor;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            font-size: 2.5rem;
            width: 58px;
            height: 58px;
            border: 2px solid $primaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h4 {
            text-transform: uppercase;
            font-size: 1.4rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
    }
}